<li id="comment-<%= comment.id %>">
        <% if((locals.user) && (locals.user.id == comment.user.id)){ %>
                <small id="comment-delete-button">
                        <a  class="delete-comment-button" href="/comments/destroy/<%= comment.id %>"><i class="fa-solid fa-trash"></i></a>
                </small>        
        <% } %>
        <a id="post-user" href="/users/profile/<%= comment.user.id %>">
                <%= comment.user.name %>
        </a>
        <small id="like-button">
                <% if(locals.user){ %>
                        <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment._id %>&type=Comment">
                                <%= comment.likes.length %> Likes
                        </a>       
                <% }else{ %>
                        <%= comment.likes.length %> Likes
                <% } %>
        </small>
        <br>
        <div id="comment-content">
                <%= comment.content %>
        </div>
</li>