<li id="post-<%= post._id %>">
    <p>
            <% if((locals.user) && (locals.user.id == post.user.id)){ %>
                    <small>
                            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
                    </small>        
            <% } %>
            <%= post.content %>
            <br>
    <small>
            <%= post.user.name %>
    </small>
    <ul id="post-comments-<%= post._id %>">
            <% for(comment of post.comments){ %>
                    <%- include('_comments') -%>
            <% } %>
            
    </ul>
    <% if(locals.user){ %>
            <form action="/comments/create" method="POST">
                    <input type="text" name="content" placeholder="Type Comment Here..." required></input>
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type= "submit" value="Post">
            </form>
            <% } %>
    </p>
</li>