<!DOCTYPE html>
<html>
    <head>
        <title>MERN Book</title>

        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        
        <%- body %>

        <%- include('_footer'); %>

        <%- script %>
        <script src="https://kit.fontawesome.com/71fe6befa9.js" crossorigin="anonymous"></script>
    </body>
</html>